<p><%= link_to "EDIT", edit_task_path %></p>
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
  <%if @task.completed %>
  <input type="checkbox" id="cbox2" value="second_checkbox" checked>
  <%else %>
  <input type="checkbox" id="cbox2" value="second_checkbox">
  <% end %>
  <span>STATUS</span>
<p>
<%= link_to "Delete",
  task_path,
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</p>


<p><%= link_to "Back to list", tasks_url %></p>
